@import "_variables";
@import "_mixins";

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Josefin Sans", sans-serif;
}

body {
  font-family: "Josefin Sans";
  font-size: 18px;
}

.body.light {
  @include mode-style("background-color", $veryLightGrayishBlue);
}

.body.dark {
  @include mode-style("background-color", $veryDarkBlue);
}

.button, .input-button {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid $lightGrayishBlue;

  svg {
    opacity: 0;
  }

  .show {
    opacity: 1;
  }
}

.button.on {
  background: $checkBackground;
  border: none;
}

.bold {
  font-weight: 700;
}

.hover {
  &:hover {
    cursor: pointer;
  }
}

.active {
  &:active {
    transform: scale(0.9);
  }
}

.button-dark {
  &:hover {
    background: linear-gradient($veryDarkDesaturatedBlue, $veryDarkDesaturatedBlue) padding-box,
      $checkBackground border-box;
    border-radius: 100%;
    border: 1px solid transparent;
  }
}

.button-light {
  &:hover {
    background: linear-gradient($veryLightGray, $veryLightGray) padding-box,
      $checkBackground border-box;
    border-radius: 100%;
    border: 1px solid transparent;
  }
}