@import "_variables";
@import "_mixins";

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Josefin Sans", sans-serif;
}

body {
  font-family: "Josefin Sans";
  font-size: 18px;
}

.body.light {
  @include mode-style("background-color", $veryLightGrayishBlue);
}

.body.dark {
  @include mode-style("background-color", $veryDarkBlue);
}

.button {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid $lightGrayishBlue;
  background-color: transparent; /* Add this line to set the initial background color */
  transition: background-color 0.4s ease-in-out; /* Add this line for a smooth background-color transition */
  
  svg {
    opacity: 0;
  }

  .show {
    opacity: 1;
  }
}

.button.on {
  background: $checkBackground;
  border: none;
}

.bold {
  font-weight: 700;
}

.hover {
  &:hover {
    cursor: pointer;
  }
}

.active {
  &:active {
    transform: scale(0.9);
  }
}

